body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*a {*/
/*  color: #5fb878;*/
/*}*/

.site-demo-title {
  position: fixed;
  left: 200px;
  right: 0;
  top: 60px;
  padding-top: 5px;
  z-index: 997;
  background: #fff;
}